@CHARSET "UTF-8";
body {
    font-family: Verdana;	
    font-size: 1em;
}
div#principal {
    width: 80%;
    position: relative;
    float: left;
    left: 10%;
    border: 2px solid blue;
    padding-bottom: 15px;
    margin-top: 50px;
    box-shadow: 2px 2px 5px #999;
    border-radius: 10px;
}
div#principal h2 {
    font-size: 2em;
    text-align: center;
    color: cadetblue;
}
div#principal div#secundario {
    width: 60%;
    position: relative;
    float: left;
    left: 20%;
}
div#principal table {
    width: 40%;
    position: relative;
    left: 30%;
}
fieldset {
    width: 50%; 
    border: none;
}
legend {
    font-style: italic; 
    font-size: .9em; 
    color: blue; 
}
table#listado {
    position: relative; 
    left: 5%; 
    width: 90%; 

} 
table#listado td {
    text-align: left;

}
div.error, div.aviso {
    width: 60%;
    position: relative;
    float: left;
    left: 20%;
    text-align: center;
    color: orange;
    border: 3px groove blue;    
}
h3 {
    font-style: italic;
    font-size: .9em;
    text-align: center;
}
h3.error, p.error{
    color: red;
    text-align: center;

}
h3.normal {
    color: green;

}
h3.aviso {
    color: orange;

}
div.codigo {
    border-bottom: 2px ridge blue;
}
div.codigo input {
    color: red;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
}
h2 {
    text-align: center;
}
div.flotante {
    width: 30%;
    position: relative;
    float: left;
    borber: none;
}
p.boton {
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}
ol a, a {
    text-decoration: none;
}
p#volver {
    text-align: center;
}
.boton {
    font-size: 1em;
    font-family: verdana;
}
div#principal table {
    width: 70%;
    left: 15%;
    margin: 10px;
}
.enlace {
    display: inline;
    border: 0;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    background: none;
    color: #000088;
    font-family: arial, sans-serif;
    font-size: 1.2em;
}
.enlace:hover {
    text-decoration: none;
    color:#0000cc;
    cursor: pointer;
}
div.dato {
    width: 40%;
    margin-left: 30%;
}
.dato label, .dato input {
    display: inline;
    float: left;
    margin: .5em 0;
}
.dato label {
    width: 40%;
}
.dato input {
    padding: .3em;
}
.dato input[type="submit"] {
    margin: 1.5em;
}
.limpiar {
    clear: left;
}
div#principal table th {
    font-weight: normal;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 2px 10px;
}
.impar {
    background-color: cyan;
}